@charset "UTF-8";

a#link{
	text-decoration:none;
	color: black;
}

/* Estilo de titulo */
	h1#titulo{
		font-size: 3;
		font-family: arial;
	}

/*mostrar os amigos*/
table#amizade{
	border: 1px solid;
	width: 180px;
	margin-top: 10px;
}
tr#amizade{
	border: 1px solid;
}
td#amizade{
	border: 1px solid;
}
td#espaco{
	padding: 50px;
}