@charset"UTF-8";
body{
	overflow: auto;
	max-height: 100%; 
	max-width: 100%;
	}
/*ajuste de tela*/
div#inicio{
	width: 100%;
	height: 85%;
	margin-top: 90px;
	margin-bottom: -1%;
}
/*Ajustando o formulario*/
.notification1{
		display: block;
		border-radius:20px;	
		background-color: #ff0000;
		width: 35%;
		margin-left: 35%;
		margin-bottom: -3%;
		margin-top: 100px;
	}
.notification2{
		background-color: green;
		width: 35%;
		margin-left: 30%;
		margin-bottom: -3%;
	}
form#Login{
	margin-left: 39%;
	margin-top: 0%;
	width: 400px;
	overflow: visible;
	}
table#ajuste{
	height: 100%;
	text-align: right;
	margin-left: -49%;
	margin-top: 50px;
	white-space: nowrap;
	}
table#ajuste td{
	margin-bottom: 4%;
	width: 100%;
}

table#ajuste1{
	width: 100%;
	text-align: right;
	margin-top: -610px;
	margin-right: -34%;
	margin-bottom: 4%;
}
td{
	width: 40%;
	float: left;
	margin-right: -28%;
	margin-top: 0.2%;
	}

input{
	text-align: center;
	font-size: 25px;
	height: 38px;
	width: 350px;
	margin-bottom: 4%;
	padding-top: 2px;

	}
input#cData{
	display: block;
	margin-bottom: 5%;
	width: 180px;
	}
input#cTele{
	width: 320px;
}
input#cNomeS{
	display: block;
	width: 275px;
	font-size: 21px;
	margin-bottom: -90%;
	}
select#Sexo{
	width: 355px;
	height: 45px;
	}
tr#sexo{
	display: block;
	margin-bottom: 50px;
	}

/*ajuste de botões*/
button.button{
	width: 30%;
	}
div#button, div#buton{
	margin-left: 18%;
	}