body{
	background-image:url("../_imagens/bgverde.jpg");
	background-attachment:fixed;
	background-size:100% 100%;
	background-repeat:no-repeat;
}
#logo{
	margin-top: 2%;
	margin-bottom: 3%;
}
.form-group{
	font-size: 28px;
}
.text-center{
	margin-bottom: 1.5%;
}
button{
	width: 150px;
}