@charset"UTF-8;
*{margin: 0; padding: 0}
html, body{
  height: 100%;
  width: 100%;
  white-space: normal;/* Permite a quebra de texto automaticamente */
  overflow: auto;/* Não permite rolagem na pagina */
  position: relative;
  margin: 0px;
  font-family: Arial;
  font-weight: 700;
}

/*Definindo a largura e a posicão da primeira divisão*/
	div#primeira{
		width: 100%;
		height: 15%;
		margin-left: 0%;
		}
/*Ajustando a imagem*/
	header#cabecalho img#icone{
		position: absolute;
		width: 100%;
		height: 15%;
		margin-top: 0.1%;
		}

/*Ajustando o formulario*/
	.notification{
		border-radius:20px;
		background-color:#ff0000;
		width: 29%;
		margin-left: 35%;
		margin-bottom: 8%;
		margin-top: -10%;
	}
	table#login{
		text-align: center;
		font-size: 120%;
		display: block;
		margin-left: -35%;
		margin-top: -5%;
	}
	div#lembrar{
		font-size: 20px;
		margin-top: 1%;
		margin-left: 2.2%;
		margin-bottom: 30px;
		}

	div#button1{
		margin-top: 5px;
		margin-left: 30px;
		font-size: 100px;
		display: inline;
		}
	div#button{
		margin-top: 10px;
		margin-left: 30px;
		font-size: 99px;
		display: inline;
		}
	button.button{
		width: 13%;
		height: 15%;
		font-size: 30px;
		}
	input {
 		font-weight: 300;
 		height: 30px;
	}
	p {
  		font-weight: 700;
	}
