@charset "UTF-8";	
fieldset{
	margin-top: 50px;
	width: 50%;
	margin-bottom: 10px;
}
div#titulo{
	width: 102.5%;
	height: 30px;
	margin-left: -10px;
	margin-top: -5px;
	background: green;
	margin-bottom: 50px;}
	input#foto{
		width: 92px;
		margin-left: -80px;
	}div#foto{
		display: block;
		position: relative;
		background-color: #ffffff;
		width: 115px;
		height: 27px;
		margin-top: -26.5px;
		margin-left: 129px;
		text-align: center;
		line-height: 1.5;
	}button#foto{
		display: block;
		position: relative;
		font-size: 20px;
		width: 100px;
		height: 30px;
		margin-top: -25px;
		margin-left: 300px;
	}div#fotos1{
		margin-left: -10%;
	}
	input[type='file'] {
  display: none
}
label#foto {
  background-color: green;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px
}

/* editar area de foto */
	.gallery {
	width: 700px;
	height: 90%;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
	}
	ul.gallery li, img#fotos {
			float: left;
			width: 200px;
			height: 200px;
			margin: 10px;
			border: 5px solid #ffffff;
			background-color: #ffffff;
			box-shadow: 1px 1px 3px rgba(0,0,0, 4)
			-webkit-transition: all 1s ease-in;
			-webkit-transition: all .4s ease-in;
	}
	.gallery li {
	float: left;
	width: 100%;
	height: 100%;
	margin: 1%;
	}
	.gallery li, img#foto{
		float: left;
		width: 200px;
		height: 200px;
		margin: 0 auto;
		margin-left: -10px;
		margin-top: -10px;
		margin-right: 20px;
		margin-bottom: 20px;
		border: 5px solid #ffffff;
		background-color: #ffffff;
		box-shadow: 1px 1px 3px rgba(0,0,0, 4)
		-webkit-transition: all 1s ease-in;
		-webkit-transition: all .4s ease-in;
	}
	.gallery li > a img {
	width: 100%;
	height: 100%;
	display: block;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	-webkit-transition: .5s;
	transition: .5s;
	}			

	.gallery li > a img:hover {
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.4);
	transform: scale(1.5);
	box-shadow: 0 0 15px rgba(0, 0, 0, .8);
	}
	.gallery article {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	}

	.gallery article:target {
	width: 100%;
	height: 100%;
	padding: 100px 0;
	margin: 0;
	text-align: center;
	background: rgba(0, 0, 0, .9);
	z-index: 1;
	}

	.gallery article img {
	opacity: 0;
	-webkit-transition: .7s;
	transition: .7s;
	border: 10px solid #fff;
	max-height: 100%;
	max-width: 100%;

	}
	.gallery article:target img {
	opacity: 1;
	}
	article .close {
	position: absolute;
	left: 50%;
	top: 20px;
	margin-left: -50px;
	width: 100px;
	background: rgba(250, 250, 250, .9);
	color: #333;
	border-radius: 15px;
	text-decoration: none;
	padding: 6px 6px 6px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-transform: uppercase;
	-webkit-transition: .5s;
	transition: .5s;
	}					
	article .close:before {
	content: "X";
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	position: absolute;
	padding-top: 3px;
	top: 3px;
	left: 5px;
	width: 24px;
	height: 21px;
	background: #666;
	border-radius: 50%;
	}

	article .close:hover {
	background: #fff;
	}

	article .arrow {
	position: absolute;
	top: 250px;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	text-indent: -9999px;
	-webkit-transition: .4s;
	transition: .4s;
	}

	article .prev {
		left: 36%;
		margin-left: -35%;
		border-right: 60px solid rgba(250, 250, 250, 1);
		margin-top: 5%;
	}

	article .prev:hover {
		border-right-color: rgba(250, 250, 250, 1);
	}

	article .next {
		right: 36%;
		margin-right: -35%;
		border-left: 60px solid rgba(250, 250, 250, 1);
		margin-top: 5%;
	}

	article .next:hover {
		border-left-color: rgba(250, 250, 250, 1);
	}
	#foto1{
		max-width: 50%;
		max-height: 50%;
	}
	figure{
		margin-top: -40px;
	}