@charset"UTF-8";
*{margin: 1; padding: 1}
html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  position: relative;
  }

/* estilo do menu */
  div#interface{
    position: all;
    overflow: hidden;
    width: 100%;
    height: 46px;
    background-color: #616b66;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    }

  /*barra de pesquisa*/
    #divBusca{
      background-color:#E0EEEE;
      border:solid 2px #5F9EA0;
      border-radius:10px;
      margin-top: 5px;
      width:93.5%;
      height:32px;
      } 
    #txtBusca{
      float:left;
      background-color:transparent;
      padding-left:5px; 
      font-size:18px;
      border:none;
      height:32px;
      width:91.25%;
      }
    #btnBusca{
      border:none;
      float:right;
      height:32px;
      border-radius:0 7px 7px 0;
      width:70px;
      font-weight:bold;
      background:#d2faf0;
      }
       
      #divBusca img{
        width: 50%;
        display: block;
        position: relative;
        float:right;
      }
  /*fim da barra de pesquisa*/
/*Configurações Padrões*/
  nav#menu{
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  height: 350px;
  width: 170px;
  margin-top: -10px;
  margin-left: 40.5%;
  position: absolute;
  }
   ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 200px;
  height: 200px;
  }
   ul li {
  position: relative;
  }
    li ul {
  position: absolute;
  left: 0px;
  top: 25px;
  display: none;
  }
  ul li a {
     display: block;
     text-decoration: none;
     color: #32CD32;
     background: #fff;
     padding: 5px;
     border: 1px solid #ccc; 
  }
  /* Fix IE. Hide from IE Mac \*/
  * html ul li { float: left; }
  * html ul li a { height: 1%; }
  /* End */
  li:hover ul { display: block; }
  ul li a:hover{
  text-decoration:underline;
  font-weight: bold;
  background: #ccc; }

/* Fim do estilo do menu */

td{
  width: 10%;
  }
h1{
  font-size: 200%;
  }
hr{
  height: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 99.9%;
  margin-top: -5px;
  }
  input#foto-video{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/*amigos online*/
  div#online{
  float:right;
  width: 20%;
  height: 90px;
  position: all;
  left: 79.8%;
  top: 50px;
  background-color:#32CD32;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
  white-space: nowrap;
  }
  div#amigo{
    width: 20%;
    height: 84.5%;
    display: block;
    margin-left: 80%;
    margin-top: 90px;
    background-color: rgba(10,23,55,0.5);
    vertical-align: middle;
    white-space: nowrap;
    overflow: auto;
  }
  div#busca{
    float:right;
    width: 20%;
    height: 5%;
    position: absolute;
    left: 79.8%;
    top: 93.5%;
    background-color: #616b66;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    vertical-align: middle;
    white-space: nowrap;
  }

  div#divPesquisa{
    display: block;
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:1px;
    width:98%;
    height:90%;
    margin: -4px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
    float: left;
  }
   
  #tBusca{
    float:left;
    background-color:transparent;
    font-size:13.1px;
    border:none;
    height:98%;
    width:66%;
  }
   
  #bBusca{
    border:none;
    float:right;
    height:98%;
    width:30%;
    background:#d2faf0;
  }
   
  #divBusca img{
    width: 50%;
    float:center;
  }
  td#pesquisa{
    width: 98%;
    height: 100%;
    position: absolute;
  }
  input, textarea{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255,255,255,.8);
  }

  input:hover, textarea:hover{
    background-color: #dddddd;
  }
  img#foto{
  width: 90px;
  height: 40px;
}
  
/*Fim de amigos online */

/*conversa*/
  div#postagens{
    float:right;
    display: block;
    width: 79%;
    height: 93.5%;
    position: absolute;
    left: 0.2%;
    top: 50px;
    background-color:rgba(10,23,55,0.5);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    }
  table#postagens{
    width: 99%;
    height: 100%;
    margin-top: 20px;
    display: inline;
    }
  td#postagens img{
    width: 110px;
    height: 110px;
  }

  textarea#idpostagem{
    width: 85%;
    resize: none;
  }
  table#postagens1{
   margin-left: 0.1%;
   font-size: 30px;   
    }
  td#postagens1 {
    display: inline;
    margin-top: 2%;
    margin-left: 0%;
  }
  td.postagens1{
    background-color: rgba(63, 191, 63, 0.4); ;
    max-width: 450px;
    max-height: 500px;
    text-align: center;
  }
  img#postagens1{
    width: 450px;
    height: 500px;
  }
  source#postagens1{
    width: 450px;
    height: 500px;
  }
  td#postagens2 {
    display: inline;
    margin-right: 5%;
    height: 100%;
  }
  input#botao{
    width: 80px;
    text-align: left;
  }

img#imgperf {
	border-radius:50%;
 max-width: 50000px;
  max-height: 50000px;
	border: solid 5px green;

}

/*IMAGEM DE PERFIL*/
img#imgperf {
  border-radius:50%;
 max-width: 50000px;
  max-height: 50000px;
  border: solid 5px green;

}
/*IMAGEM DE PERFIL(AMIGO)*/
img#imgperfamigo {
  border-radius:50%;
 max-width: 50000px;
  max-height: 50000px;
  border: solid 5px green;

}