@charset"UTF-8";

/* configurações da are de fundo(um divisão que engloba tudo) */
  div#pagina{
    position: absolute;
    overflow: auto;
    width: 79.5%;
    height: 93.5%;
    background-color: #616b66;
    margin: 50px 1px 0px 4px;
    padding: 0px 0px 0px 0px;
    }

/* are de postagens */
  div#poste{
    overflow: auto;
    width: 79%;
    height: 100%;
    margin-top: 0%;
    float: right;
    position: relative;
    display: inline;
    }
  table#poste{
  	width: 100%;
  	height: 99%;
    }

/* informações da pagina */
  div#info{
    width: 20%;
    height: 99%;
    background-color: #ffffff;
    margin: 5px;
    padding: 0px 0px 0px 0px;
    display: inline;
    float: left;
    position: relative;
  }

/* foto da pagina */
  div#foto{
  resize: both;
  overflow-y: auto;
    height: 150px; 
    width: 78.7%;
    margin-left: 21%;
    margin-top: 1px;
    }
    a{
  /*resize: both;*/
  overflow: auto;
      height: 100%;

      width: 100%;
    border-radius: 50%;
  border: 1px solid;
    }